.cor_0 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada51 0.0%, #c8eb23 100.0%);
}
.cor_1 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #eb23aa 100.0%);
}
.cor_2 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #002ec7 100.0%);
}
.cor_3 {
    -fx-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 50.0% 50.0%, radius 50.0%, reflect, #fb000073 0.0%, #7423ed 100.0%);
}
.cor_4 {
    -fx-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 69.5572% 50.0%, radius 50.0%, reflect, #ebdada73 0.0%, #237feb 100.0%);
}
.cor_5 {
    -fx-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 69.5572% 50.0%, radius 50.0%, reflect, #ebdada73 0.0%, #006b6b 100.0%);
}
.cor_6 {
    -fx-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 69.5572% 50.0%, radius 50.0%, reflect, #ebdada73 0.0%, #82a0ed 100.0%);
}
.cor_7 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, #2000d7b2 0.0%, #64c483 100.0%);
}
.cor_8 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #eb7423 100.0%);
}
.cor_9 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 22.082%, reflect, #ebdada73 0.0%, #3f9915 100.0%);
}
.cor_10 {
    -fx-fill: linear-gradient(from 0.0% 75.3943% to 76.0252% 34.0694%, reflect, #ebdada73 0.0%, #730000 100.0%);
}
.cor_11 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #eb2345 100.0%);
}
.cor_12 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #23eb2a 100.0%);
}
.cor_13 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #23ebe6 100.0%);
}
.cor_14 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #2399eb 100.0%);
}
.cor_15 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #7423ed 100.0%);
}
.cor_16 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, reflect, #ebdada73 0.0%, #002ec7 100.0%);
}
.cor_17 {
    -fx-fill: linear-gradient(from 0.0% 21.1356% to 81.7035% 85.1735%, #d60000b2 0.0%, #00d689b2 100.0%);
}