/*
:root{
--primary-color: #FFFF00;
--secondary-color: #228B22;
--terciary-color: #006400;
}
*/
/*Raised button example */

.close:hover {
  -fx-background-color: red;
  -fx-text-fill: white;
  /* -fx-border-radius: 50px 50px; */
  -fx-background-radius: 20px;
  -fx-effect: dropshadow(
    two-pass-box,
    rgba(128, 128, 128, 0.687),
    1.7,
    1.7,
    1.7,
    1.7
  );
}

.close:pressed {
  -fx-translate-x: 1px;
  -fx-translate-y: 1px;
  -fx-translate-z: 1px;
  -fx-effect: dropshadow(
    two-pass-box,
    rgba(128, 128, 128, 0.687),
    0.7,
    0.7,
    0.7,
    0.7
  );
}

.close {
  -fx-background-color: transparent;
  -fx-text-fill: white;
}

.nav {
  -fx-background-color: linear-gradient(#006400, #228B22);
  -fx-background-attachment: fixed;
  -fx-border-radius: 12px;
  -fx-background-radius: 12px;
  -fx-text-fill: white;
}

.nav:hover {
  -fx-background-color: linear-gradient(#006400, #FFFF00);
  -fx-border-radius: 12px;
  -fx-background-radius: 12px;
  -fx-text-fill: black;
  -fx-effect: dropshadow(one-pass-box, rgba(128, 128, 128, 0.687), 2, 2, 2, 2);
  /*<blur-type> = [ gaussian | one-pass-box | three-pass-box | two-pass-box ]*/
}

.nav:pressed {
  -fx-translate-x: 1px;
  -fx-translate-y: 4px;
  -fx-translate-z: 6px;
  -fx-effect: dropshadow(one-pass-box, rgba(128, 128, 128, 0.687), 1, 1, 1, 1);
  -fx-background-color: linear-gradient(#006400, #FFFF00);
}

.navbar {
  -fx-background-color: white;
}

.buttonOK {
  -fx-background-color: white;
  -fx-font-color: black;
  -fx-text-decoration: none;
  -fx-font-size: 14px;
  -fx-border-color: #008cba;
  -fx-border-radius: 14px;
  -fx-border-style: solid;
}

.buttonOK:hover {
  -fx-background-color: #008cba;
  -fx-text-fill: #000080;
  -fx-border-radius: 14px;
  -fx-background-radius: 14px;
  -fx-border-style: solid;
}

.buttonCancel {
  -fx-background-color: white;
  -fx-font-color: black;
  -fx-text-decoration: none;
  -fx-font-size: 14px;
  -fx-border-color: #f44336;
  -fx-border-radius: 14px;
  -fx-border-style: solid;
}

.buttonCancel:hover {
  -fx-background-color: #f44336;
  -fx-text-fill: #000080;
  -fx-border-radius: 14px;
  -fx-background-radius: 14px;
  -fx-border-style: solid;
}

.teste:hover {
  -fx-background-color: blue;
  -fx-font-color: white;
}

#telaDialog {
  -fx-background-color: #fff;
  -fx-border-color: #228B22;
  -fx-border-radius: 12px;
  -fx-border-style: solid;
  -fx-background-radius: 12px;
  -fx-border-width: 1px;
}

#telaDialog AnchorPane {
  -fx-background-color: linear-gradient(#006400, #228B22);
  -fx-background-attachment: fixed;
  -fx-border-radius: 10px 10px 0px 0px;
  -fx-background-radius: 10px 10px 0px 0px;
  -fx-text-fill: #000080;
}

#telaDialog TextField {
  -fx-border-color: #228B22;
  -fx-border-radius: 10px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-background-radius: 10px;
}

#telaDialog TextField:focus {
  -fx-border-color: #01b549;
  -fx-border-radius: 10px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-background-radius: 10px;
}

#telaDialog .title {
  -fx-text-fill: #000080;
}

#telaAddItem {
  -fx-background-color: #fff;
  -fx-border-color: #228B22;
  -fx-border-radius: 12px;
  -fx-border-style: solid;
  -fx-background-radius: 12px;
  -fx-border-width: 1px;
}

#telaAddItem AnchorPane {
  -fx-background-color: linear-gradient(#006400, #228B22);
  -fx-background-attachment: fixed;
  -fx-border-radius: 10px 10px 0px 0px;
  -fx-background-radius: 10px 10px 0px 0px;
  -fx-text-fill: #000080;
}

#telaAddItem TextField {
  -fx-border-color: #228B22;
  -fx-border-radius: 10px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-background-radius: 10px;
}

#telaAddItem TextField:focus {
  -fx-border-color: #01b549;
  -fx-border-radius: 10px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-background-radius: 10px;
}

#telaAddItem .title {
  -fx-text-fill: #000080;
}

#telaAddItem Spinner {
  -fx-border-color: #228B22;
  -fx-border-radius: 5px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-background-radius: 5px;
}

#telaAddItem Spinner:focus {
  -fx-border-color: #01b549;
  -fx-border-radius: 5px;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-background-radius: 5px;
}
